*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button {
  cursor: pointer;
  transition: all 0.4s linear;
}

.input {
  outline: none;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: currentColor;
  }
}
