*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body:has(#modal) {
  overflow: hidden;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s linear;

  &_rectangle {
    border-radius: 4px;
  }

  &_animation {
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      width: 100%;
      background-color: #00000022;
      transition: all 0.2s linear;
    }
  
    &:hover::after {
      right: 0;
    }
  }
}

.input {
  border: none;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: currentColor;
  }
}

.select {
  appearance: none;

  &:focus {
    border: none;
    outline: none;
  }
}
