*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.button {
  cursor: pointer;
  transition: all 0.4s linear;
}

.input {
  border: none;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: currentColor;
  }
}

.select {
  appearance: none;

  &:focus {
    border: none;
    outline: none;
  }
}
