//* screen points:
$sp-l: 1920px;

:root {
    //* colors:
    --black: #041423;
    --blue: #2a358c;
    --green: #00ae5b;
    --grey: #b0bcc7;
    --light_grey: #e7f3ff;
    --dark_grey: #84909b;
    --line: #dbe4ed;
    --white: #ffffff;

    //* box-shadow:
    --bsh: 0px 7px 30px 0px rgba(42, 53, 140, 0.03);
}
